// Place all the styles related to the Product controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// @include media-breakpoint-up(xs)
// {
//   // body
//   // {
//   //   width: 1000px;
//   //   margin: 0 auto;
//   // }
//
// }
//
// @include media-breakpoint-up(m)
// {
//   // body
//   // {
//   //   width: 1000px;
//   //   margin: 0 auto;
//   // }
//
// }

.product
{
  width:25rem;
  height:45rem;
  max-width: 25rem;
  max-height: 45rem;
  min-width: 25rem;
  min-height: 45rem;
}

div.card-block
{
  margin-bottom: 1.25rem;
}
